<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"></meta>
<title>show tables</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

</head>

<body>
	<br/><br/>
	<tr><td th:text="${message}">orginal_message</td></tr>
	<br/><br/>
	
	<table>
	<tr th:each="it:${list}">
		<td th:text="${it.value}">orginal_table_comment</td>
		<td>
			<form th:action="${'/editTableData/'+it.key}" method="post">
				<input type="submit" value="edit data" />
			</form>
		</td>
	</tr>
	</table>
</body>
</html>
